<!-- header -->
<app-header></app-header>
<!-- Data collection component -->
<div class="card mx-auto w-75 mb-4 mt-4">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row mt-5 ms-4 mb-3">
        <div class="col">
          <h1>Window Calculator</h1>
          <h3>Tucson Window Upgrades</h3>
          <div class="mt-4 mb-4">
            Considering upgrading your single-pane windows, but not sure it's worth it?
          </div>
          <div class="mt-4 mb-4">
            The Window Calculator can help.
          </div>
          <div class="mt-4 mb-4">
            After you share some basic information about your home,
            the Window Calculator will create a personalized report
            detailing the financial, comfort, and environmental benefits of
            three different window upgrade options for your home.
          </div>
          <input type="text" class="form-control" id="homeNameControl" placeholder="Insert project name"  [(ngModel)]="homeName">
        </div>
        <div class="col">
          <img class="img-fluid" [src]="'/assets/home/person.png'" alt="Person shocked at electricity bill" />
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-sm-3 w-10 d-flex justify-content-end" style="padding:0;">
          <button type="button" class="btn btn-secondary" (click)="startModel()" [disabled]="!homeName">Get Started</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Rest -->
<div class="d-flex justify-content-center">
  <div class="accordion w-75" id="faq">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown1" aria-expanded="true" aria-controls="dropdown1">
          Who is this tool for?
        </button>
      </h2>
      <div id="dropdown1" class="accordion-collapse collapse show" data-bs-parent="#faq">
        <div class="accordion-body">
          <div>
            If you own a home in or near Tucson, AZ that has at least one single-pane window, the Window Calculator is for you! This tool uses local climate data to calculate the health, comfort, and energy efficiency benefits of three different window upgrade options. These three options offer the best long-term savings in our climate compared to their initial cost.
          </div>
          <div class="mt-3">
            If you don’t live in or near Tucson, AZ but are still interested in learning more about your window upgrade options and their potential benefits, consider checking out some of these resources:
          </div>
          <div class="mt-3">
            <a href="https://efficientwindows.org/window-replacement-options/" target="_blank">Efficient Windows Collaborative</a>
          </div>
          <div class="mt-1">
            <a href="https://basc.pnnl.gov/existing-homes" target="_blank">Building America Solutions Center</a>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown2" aria-expanded="false" aria-controls="dropdown2">
          How do I know if I have single or double-pane windows?
        </button>
      </h2>
      <div id="dropdown2" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          <div class="row">
            <div class="col-md-6">
              <div>
                The key difference between single-pane and double-pane windows is that single-pane windows are made of a single sheet of glass, while double-pane windows are made of two sheets of glass that are separated by an air gap.
              </div>
              <div class="mt-3">
                If you look where the glass meets the frame, sometimes you can see whether there are one or two sheets of glass. If you can't tell or aren't sure, the reflection method can help.
                Try holding a small object close to the glass, like a pen or pencil. Look closely at the glass -- if you can see one reflection, it's a single-pane window, and if you see two reflections, it's a double-pane window.
                <a href="https://www.youtube.com/watch?v=x7gxbGpZoXQ" target="_blank">This YouTube video</a> walks you through the process.
              </div>
              <div class="mt-3">
                If you aren't the first owner of your house, you might consider checking each window, since they aren't always all replaced at the same time.
              </div>
            </div>
            <div class="col-md-6 embed-responsive embed-responsive-4by3">
              <iframe class="mt-2" width="560" height="315" style="max-width: 100%;" src="https://www.youtube-nocookie.com/embed/x7gxbGpZoXQ?si=X8vXwBhGoBhcjvI4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown3" aria-expanded="false" aria-controls="dropdown3">
          What about historic windows?
        </button>
      </h2>
      <div id="dropdown3" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          <div>
            If your home is listed on the National Register of Historic Places, is enrolled in the State Historic Property Tax Program, or sits within a Historic Preservation Zone, you might be concerned that a window upgrade might change the exterior appearance of your home.
          </div>
          <div class="mt-3">
            Luckily, there are window upgrade options that offer the financial, comfort, and environmental benefits of window replacement without the need to get rid of your historic windows. Read below, then enter your home information above to learn more about your upgrade options.
          </div>
          <div class="accordion mt-3" id="windowTypeDropdowns">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#windowFilm" aria-expanded="false" aria-controls="windowFilm">
                  Low-E Window Film
                </button>
              </h2>
              <div id="windowFilm" class="accordion-collapse collapse" data-bs-parent="#windowTypeDropdowns">
                <div class="accordion-body">
                  A transparent plastic coating that is applied to the inside surface of existing windows.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#stormWindows" aria-expanded="false" aria-controls="stormWindows">
                  Low-E Storm Windows
                </button>
              </h2>
              <div id="stormWindows" class="accordion-collapse collapse" data-bs-parent="#windowTypeDropdowns">
                <div class="accordion-body">
                  Secondary window units that are added either temporarily or permanently to the inside or outside of your existing windows.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#replacementWindow" aria-expanded="false" aria-controls="replacementWindow">
                  ENERGY STAR Replacement Windows
                </button>
              </h2>
              <div id="replacementWindow" class="accordion-collapse collapse" data-bs-parent="#windowTypeDropdowns">
                <div class="accordion-body">
                  New double-pane windows that are independently certified to meet climate-specific energy efficiency guidelines.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown4" aria-expanded="false" aria-controls="dropdown4">
          What are the benefits of window upgrades?
        </button>
      </h2>
      <div id="dropdown4" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          Info
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown5" aria-expanded="false" aria-controls="dropdown5">
          How much information do I need to know about my home?
        </button>
      </h2>
      <div id="dropdown5" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          <div>
            To make your experience as quick and easy as possible, the Window Calculator is designed to work based on eight characteristics of your home, listed below, and inputting the information only takes a couple minutes.
            If you have more time, you also have the option to enter more specific information about your windows, like their sizes, for an even more accurate report about the financial, comfort, and environmental impacts of three upgrade options.
          </div>
          <div class="mt-3">
            Home information
            <ul>
              <li>Number of Stories</li>
              <li>Wind Protection</li>
              <li>HVAC System Type</li>
              <li>Thermostat Settings</li>
            </ul>
          </div>
          <div>
            Window Properties
            <ul>
              <li>Glass Type</li>
              <li>Frame Material</li>
              <li>Window Operability</li>
            </ul>
          </div>
          <div>
            Optional information
            <ul>
              <li>Window Dimensions</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown6" aria-expanded="false" aria-controls="dropdown6">
          How does the calculator work?
        </button>
      </h2>
      <div id="dropdown6" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          <div>
            Homes are made up of a lot of different parts, and each one is as unique as the people who live in it. This means that calculating things like energy consumption requires a lot of information.
            Read below to learn how the Window Calculator simplifies this calculation process across five different topics in order to generate a personalized report for your home.
          </div>
          <div class="mt-3">
            <p class="gap-1">
              <a class="btn btn-primary mb-2 mx-2" data-bs-toggle="collapse" data-bs-target="#energyUse" aria-expanded="false" aria-controls="energyUse">Energy Use</a>
              <a class="btn btn-primary mb-2 mx-2" data-bs-toggle="collapse" data-bs-target="#upfrontCost" aria-expanded="false" aria-controls="upfrontCost">Upfront Cost</a>
              <a class="btn btn-primary mb-2 mx-2" data-bs-toggle="collapse" data-bs-target="#embodiedCarbon" aria-expanded="false" aria-controls="embodiedCarbon">Embodied Carbon</a>
              <a class="btn btn-primary mb-2 mx-2" data-bs-toggle="collapse" data-bs-target="#comfort" aria-expanded="false" aria-controls="comfort">Comfort</a>
              <a class="btn btn-primary mb-2 mx-2" data-bs-toggle="collapse" data-bs-target="#soundInsulation" aria-expanded="false" aria-controls="soundInsulation">Sound Insulation</a>
            </p>
            <div class="collapse" id="energyUse">
              <div class="card card-body">
                <div>
                  The amount of energy that a building uses is determined by both the way that heat flows through it and the electricity used by appliances and lighting.
                  When more heat is entering a building than it's releasing, a cooling system will turn on and use energy to lower the temperature back to a comfortable level.
                </div>
                <div class="mt-3">
                  The Window Calculator uses typical values about parts of your home (like the insulating ability of different window types) information about the physics of heat flow and to determine how much energy the three upgrade options save by reducing heat loss in the winter and heat gain in the summer.
                </div>
              </div>
            </div>
            <div class="collapse" id="upfrontCost">
              <div class="card card-body">
                <div>
                  The cost of window upgrades will vary based on a lot of factors, including base window size, quantity, quality, installation complexity, brand, installer, labor costs, permitting, rebates, and more.
                  In order to estimate a reasonable total expected cost for each upgrade option, the Window Calculator relies on information from manufacturers and installers to create a range of potential costs for a typical project, based on the total number and size of the windows considered for upgrades.
                </div>
              </div>
            </div>
            <div class="collapse" id="embodiedCarbon">
              <div class="card card-body">
                Embodied carbon is one measurement of the environmental impact that a product has before it is installed in your home, including manufacturing and transportation. The Window Calculator cross-references the size of your windows with third-party verified data about the embodied carbon of all three upgrade options to estimate the environmental impact of each option before it enters your home.
              </div>
            </div>
            <div class="collapse" id="comfort">
              <div class="card card-body">
                Upgrading your windows can have a big impact on the comfort of your home, helping it feel cooler in the summer and warmer in the winter. This is because thermal comfort depends on both the air temperature and the temperature of things around you.
                The Window Calculator uses information about the typical insulating and shading properties of different window types to determines how hot your windows will get in the summer.
                This is then used to calculate how much hotter your windows make your home feel.
              </div>
            </div>
            <div class="collapse" id="soundInsulation">
              <div class="card card-body">
                <div>
                  Windows are often a weak point in the effort to keep unwanted noise from airplanes, barking dogs, and loud neighbors out of your home.
                  The Window Calculator compares the typical sound insulating properties of single-pane windows with each window upgrade option to determine how much they improve your privacy.
                </div>
              </div>
            </div>
          </div>
          <div>
            Want more information? Check out the detailed report of the Window Calculator methods here. <!--TODO: Link-->
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown7" aria-expanded="false" aria-controls="dropdown7">
          What are the window upgrade options?
        </button>
      </h2>
      <div id="dropdown7" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          <div>
            Read below, then enter your home information above to learn more about your upgrade options.
          </div>
          <div>
            <div class="accordion mt-3" id="windowTypeDropdowns">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#windowFilm" aria-expanded="false" aria-controls="windowFilm">
                    Low-E Window Film
                  </button>
                </h2>
                <div id="windowFilm" class="accordion-collapse collapse" data-bs-parent="#windowTypeDropdowns">
                  <div class="accordion-body">
                    A transparent plastic coating that is applied to the inside surface of existing windows.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#stormWindows" aria-expanded="false" aria-controls="stormWindows">
                    Low-E Storm Windows
                  </button>
                </h2>
                <div id="stormWindows" class="accordion-collapse collapse" data-bs-parent="#windowTypeDropdowns">
                  <div class="accordion-body">
                    Secondary window units that are added either temporarily or permanently to the inside or outside of your existing windows.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#replacementWindow" aria-expanded="false" aria-controls="replacementWindow">
                    ENERGY STAR Replacement Windows
                  </button>
                </h2>
                <div id="replacementWindow" class="accordion-collapse collapse" data-bs-parent="#windowTypeDropdowns">
                  <div class="accordion-body">
                    New double-pane windows that are independently certified to meet climate-specific energy efficiency guidelines.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
