<div class="card ms-auto me-4 mb-4 mt-4">
  <div class="card-body container">
    <div class="row mt-2 mb-3">
      <div class="col-sm ms-4">
        <h2>Low-E Storm Windows</h2>
        <div class="mt-4">Storm windows have been around for a long time, but modern storm windows are quite different from old storm windows that only had a thin layer of glass and had to be removed seasonally. New low-e storm windows are high quality products that can add to the visual appeal of your home, be permanently mounted inside or outside of your existing windows, and even come in operable models so that you can still open your existing windows.</div>
        <div class="mt-2">Overall, they are a great alternative to window replacement that saves just as much energy at a lower upfront cost, all while reducing air leakage and noise, increasing comfort, and looking great. </div>
        <div class="mt-2">To help you decide if low-e storm windows are the right window upgrade option for your home, this page will cover the following topics and share some trustworthy resources for more research.</div>
      </div>
      <div class="col-sm me-4">
        <div class="d-flex justify-content-center">
          <img class="img-fluid" style="max-height:200px;" [src]="'assets/report/home/FilmIcon.png'" alt="Low-E Icon" />
        </div>
        <div class="mt-5">
          <div class="fw-bold" style="border-bottom: 1px solid black; border-top: 1px solid black;">
            Pros
          </div>
          <div>
            <ul>
              <li>Great Energy Savings</li>
              <li>Best sound insulation</li>
              <li>Easiest DIY</li>
              <li>Historic-friendly</li>
            </ul>
          </div>
        </div>
        <div>
          <div class="fw-bold" style="border-bottom: 1px solid black; border-top: 1px solid black;">
            Cons
          </div>
          <div>
            <ul>
              <li>May not be compatible with all existing windows</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="accordion w-75" id="faq">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown1" aria-expanded="true" aria-controls="dropdown1">
          Images
        </button>
      </h2>
      <div id="dropdown1" class="accordion-collapse collapse show" data-bs-parent="#faq">
        <div class="accordion-body">
          Stuff
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown2" aria-expanded="false" aria-controls="dropdown2">
          How do storm windows work?
        </button>
      </h2>
      <div id="dropdown2" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          Stuff
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown3" aria-expanded="false" aria-controls="dropdown3">
          Installation
        </button>
      </h2>
      <div id="dropdown3" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          Stuff
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown4" aria-expanded="false" aria-controls="dropdown4">
          Financial Tradeoffs
        </button>
      </h2>
      <div id="dropdown4" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          Stuff
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown5" aria-expanded="false" aria-controls="dropdown5">
          Environmental Impact
        </button>
      </h2>
      <div id="dropdown5" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          Stuff
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown6" aria-expanded="false" aria-controls="dropdown6">
          Sound Blocking
        </button>
      </h2>
      <div id="dropdown6" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          Stuff
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown7" aria-expanded="false" aria-controls="dropdown7">
          Thermal Comfort
        </button>
      </h2>
      <div id="dropdown7" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          Stuff
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown8" aria-expanded="false" aria-controls="dropdown8">
          Historic Preservation
        </button>
      </h2>
      <div id="dropdown8" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          Stuff
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown9" aria-expanded="false" aria-controls="dropdown9">
          Learn More
        </button>
      </h2>
      <div id="dropdown9" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          Stuff
        </div>
      </div>
    </div>
  </div>
</div>
