<div class="container-fluid">
  <div class="row justify-content-center">
    <img class="img-fluid" style="max-width:65%;" [src]="'/assets/stepindicator/Step5.jpg'" alt="Progress bar (5)" />
  </div>
</div>

<div style="max-height:70vh; overflow-y: auto;" class="mt-5">
  <h3 class="ms-4 mb-4 d-flex align-items-start">What type of windows are in your home? <fa-icon class="ms-1" style="font-size: large;" [icon]="faQuestion" placement="bottom" ngbTooltip="Select whether you would like to enter information about each window in your home (Detailed Window Information), or about your windows in general (Simplified Window Information). If you choose the simplified option, you can always return to this page and enter detailed information later for an even more accurate report."></fa-icon></h3>
  <div class="mb-4 container-fluid btn-group mb-4" role="group" aria-label="Window Information Selection Group">
    <div class="row w-100 justify-content-around">
      <div class="col-sm d-flex justify-content-center">
        <input type="radio" class="btn-check" name="viewSelectGroup" id="simpView" autocomplete="off" (click)="selectSimplifiedView()">
        <label class="btn" [ngClass]="{'btn-primary': view == '' || view == 'Simplified', 'btn-outline-primary': view == 'Detailed'}" for="simpView">Simplified Window Information</label>
      </div>
      <div class="col-sm d-flex justify-content-center">
        <input type="radio" class="btn-check" name="viewSelectGroup" id="detView" autocomplete="off" (click)="selectDetailedView()">
        <label class="btn" [ngClass]="{'btn-primary': view == '' || view == 'Detailed', 'btn-outline-primary': view == 'Simplified'}" for="detView">Detailed Window Information</label>
      </div>
    </div>
  </div>

  <div *ngIf="view == 'Simplified'" style="overflow-y: scroll; height: 50vh" class="mt-3">
    <ng-container>
      <h5 class="ms-4 d-flex align-items-start">Glass Type <fa-icon class="ms-1" style="font-size: medium" [icon]="faQuestion" placement="bottom" ngbTooltip="Select the glass type that best matches that of your single-pane windows. If your windows have varying glass types, select the option that matches the majority of your windows, or consider entering detailed window information. If you aren’t sure, select “Clear.”"></fa-icon></h5>
      <div class="mb-4 container-fluid">
        <div class="row mb-3 btn-group w-100" role="group">
          <!-- Display each option as button -->
          <ng-container *ngFor="let option of glassTypeEnum | keyvalue; index as i">
            <div class="col-sm mt-2 d-flex justify-content-center">
              <input type="radio" class="btn-check" [checked]="checkIfGlassCardIsClicked(i)" name="simpGlassGroup" id="glassType{{option.value}}" autocomplete="off" (click)="selectSimplifiedGlassOption(option.value, i)">
              <label class="btn" [ngClass]="{'btn-primary':checkIfGlassCardIsClicked(i) || currentlyClickedGlassCardIndex == -1, 'btn-outline-primary':!checkIfGlassCardIsClicked(i) && currentlyClickedGlassCardIndex != -1}" for="glassType{{option.value}}">{{option.value}}</label>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <h5 class="ms-4 d-flex align-items-start">Frame Material <fa-icon class="ms-1" style="font-size: medium" [icon]="faQuestion" placement="bottom" ngbTooltip="Select the frame material that best matches that of your single-pane windows. If your windows have varying frame materials, select the option that matches the majority of your windows, or consider entering detailed window information. Not sure if your metal windows are thermally broken? Try touching the frame on a cold morning. If they don’t feel too much cooler than your walls, they probably have an a layer of insulation inside known as a thermal break."></fa-icon></h5>
      <div class="mb-4 container-fluid">
        <div class="row mb-3 btn-group w-100" role="group">
          <!-- Display each option as button -->
          <ng-container *ngFor="let option of frameTypeEnum | keyvalue; index as i">
            <div class="col-sm mt-2 d-flex justify-content-center">
              <input type="radio" class="btn-check" [checked]="checkIfFrameCardIsClicked(i)" name="simpFrameGroup" id="frameType{{option.value}}" autocomplete="off" (click)="selectSimplifiedFrameOption(option.value, i)">
              <label class="btn" [ngClass]="{'btn-primary':checkIfFrameCardIsClicked(i) || currentlyClickedFrameCardIndex == -1, 'btn-outline-primary':!checkIfFrameCardIsClicked(i) && currentlyClickedFrameCardIndex != -1}" for="frameType{{option.value}}">{{option.value}}</label>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <h5 class="ms-4 d-flex align-items-start">Window Type <fa-icon class="ms-1" style="font-size: medium" [icon]="faQuestion" placement="bottom" ngbTooltip="Select the window type that best matches that of your single-pane windows. If you have windows of multiple types, select the option that matches the majority of your windows, or consider entering detailed window information. If you have vertical sliding windows and aren’t sure when they were installed, select the “Installed after 1970” option."></fa-icon></h5>
      <div class="mb-4 container-fluid">
        <div class="row mb-3">
          <!-- Display each option as card -->
          <ng-container *ngFor="let option of windowTypeEnum | keyvalue; index as i">
            <div class="col-sm mt-2 d-flex justify-content-center">
              <div class="mx-auto card text-center h-100" style="width: 10rem;" [ngClass]="{'highlight':checkIfOperabilityCardIsClicked(i)}">
                <img class="card-img-top" src="/assets/window-properties/{{option.key}}.jpg" alt="{{option.value}}" style="height: auto;">
                <div class="card-body btn btn-primary w-100 stretched-link card-btn" (click)="selectSimplifiedOperabilityOption(option.value,i)">{{option.value}}</div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <h5 class="ms-4 d-flex align-items-start">Orientation <fa-icon class="ms-1" style="font-size: medium" [icon]="faQuestion" placement="bottom" ngbTooltip="Select the direction that most of your single-pane windows face. If you aren’t sure which way your windows face, select “Evenly Distributed.”"></fa-icon></h5>
      <div class="mb-4 container-fluid">
        <div class="row mb-3 btn-group w-100" role="group">
          <!-- Display each option as button -->
          <ng-container *ngFor="let option of orientationList_Simp; index as i">
            <div class="col-sm mt-2 d-flex justify-content-center">
              <input type="radio" class="btn-check" [checked]="checkIfOrientationCardIsClicked(i)" name="simpOrientationGroup" id="orientation{{option}}" autocomplete="off" (click)="selectSimplifiedOrientationOption(option, i)">
              <label class="btn" [ngClass]="{'btn-primary':checkIfOrientationCardIsClicked(i) || currentlyClickedOrientationCardIndex == -1, 'btn-outline-primary':!checkIfOrientationCardIsClicked(i) && currentlyClickedOrientationCardIndex != -1}" for="orientation{{option}}">{{option}}</label>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="view == 'Detailed'">
    <ul class="list-group mb-2">
      <li *ngIf="windows.length == 0" class="list-group-item">No Windows Added</li>
      <li *ngFor="let item of windows; index as i" class="list-group-item container-fluid">
        <div class="row">
          <div class="col-sm">{{item.name}}</div>
          <div class="col-sm">
            <div class="row">
              <div class="col-sm"><fa-icon class="pointable" [icon]="faEdit" (click)="editWindow(i)" data-bs-toggle="modal" data-bs-target="#detailedWindowModal"></fa-icon></div>
              <div class="col-sm"><fa-icon class="pointable" [icon]="faDelete" (click)="deleteWindow(i)"></fa-icon></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <button type="button" class="btn btn-action" data-bs-toggle="modal" data-bs-target="#detailedWindowModal" (click)="addWindow()">Add New</button>
  </div>
</div>


<div class="modal fade" id="detailedWindowModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="detailedWindowLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="detailedWindowLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-container>
          <h5 class="d-flex align-items-start">Window Name <fa-icon class="ms-1" style="font-size: medium" [icon]="faQuestion" placement="bottom" ngbTooltip="Enter a name for your window."></fa-icon></h5>
          <input type="text" class="form-control mb-4" id="windowNameControl" placeholder="My window" [(ngModel)]="windowName">
        </ng-container>
        <ng-container>
          <h5 class="d-flex align-items-start">Window Dimensions <fa-icon class="ms-1" style="font-size:medium;" [icon]="faQuestion" placement="bottom" ngbTooltip="Enter the width and height in inches for each single-pane window in your home. If you have windows that are irregularly shaped, you can enter a width and height that approximate the perimeter and area of each of your windows."></fa-icon></h5>
          <div class="row mb-4">
            <div class="col-sm d-flex justify-content-center">
              <div class="row align-items-center">
                <div class="col-sm">
                  <input type="number" class="form-control" id="windowWidthControl" placeholder="Width" min="0" [(ngModel)]="windowWidth" (change)="calculateSize()">
                </div>
                <div class="col-sm">inches</div>
              </div>
            </div>
            <div class="col-sm d-flex justify-content-center">
              <div class="row align-items-center">
                <div class="col-sm">
                  <input type="number" class="form-control" id="windowHeightControl" placeholder="Height" min="0" [(ngModel)]="windowHeight" (change)="calculateSize()">
                </div>
                <div class="col-sm">inches</div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <h5 class="d-flex align-items-start">Glass Type <fa-icon class="ms-1" style="font-size: medium" [icon]="faQuestion" placement="bottom" ngbTooltip="Select the glass type that best matches that of your single-pane windows. If your windows have varying glass types, select the option that matches the majority of your windows, or consider entering detailed window information. If you aren’t sure, select “Clear.”"></fa-icon></h5>
          <div class="mb-4 container-fluid">
            <div class="row btn-group w-100" role="group">
              <!-- Display each option as button -->
              <ng-container *ngFor="let option of glassTypeEnum | keyvalue; index as i">
                <div class="col-sm mt-2 d-flex justify-content-center">
                  <input type="radio" class="btn-check" [checked]="checkIfGlassCardIsClicked(i)" name="simpGlassGroup" id="glassType{{option.value}}" autocomplete="off" (click)="selectDetailedGlassOption(option.value, i)">
                  <label class="btn" [ngClass]="{'btn-primary':checkIfGlassCardIsClicked(i) || currentlyClickedGlassCardIndex == -1, 'btn-outline-primary':!checkIfGlassCardIsClicked(i) && currentlyClickedGlassCardIndex != -1}" for="glassType{{option.value}}">{{option.value}}</label>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <h5 class="d-flex align-items-start">Frame Material <fa-icon class="ms-4" style="font-size:medium" [icon]="faQuestion" placement="bottom" ngbTooltip="Select the frame material that best matches that of your single-pane windows. If your windows have varying frame materials, select the option that matches the majority of your windows, or consider entering detailed window information. Not sure if your metal windows are thermally broken? Try touching the frame on a cold morning. If they don’t feel too much cooler than your walls, they probably have an a layer of insulation inside known as a thermal break."></fa-icon></h5>
          <div class="mb-4 container-fluid">
            <div class="row btn-group w-100" role="group">
              <!-- Display each option as button -->
              <ng-container *ngFor="let option of frameTypeEnum | keyvalue; index as i">
                <div class="col-sm mt-2 d-flex justify-content-center">
                  <input type="radio" class="btn-check" [checked]="checkIfFrameCardIsClicked(i)" name="simpFrameGroup" id="frameType{{option.value}}" autocomplete="off" (click)="selectDetailedFrameOption(option.value, i)">
                  <label class="btn" [ngClass]="{'btn-primary':checkIfFrameCardIsClicked(i) || currentlyClickedFrameCardIndex == -1, 'btn-outline-primary':!checkIfFrameCardIsClicked(i) && currentlyClickedFrameCardIndex != -1}" for="frameType{{option.value}}">{{option.value}}</label>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <h5 class="d-flex align-items-start">Window Type <fa-icon class="ms-1" style="font-size:medium" [icon]="faQuestion" placement="bottom" ngbTooltip="Select the window type that best matches that of your single-pane windows. If you have windows of multiple types, select the option that matches the majority of your windows, or consider entering detailed window information. If you have vertical sliding windows and aren’t sure when they were installed, select the “Installed after 1970” option."></fa-icon></h5>
          <div class="mb-4 container-fluid">
            <div class="row">
              <!-- Display each option as card -->
              <ng-container *ngFor="let option of windowTypeEnum | keyvalue; index as i">
                <div class="col-sm mt-2 d-flex justify-content-center">
                  <div class="mx-auto card text-center h-100" style="width: 10rem;" [ngClass]="{'highlight':checkIfOperabilityCardIsClicked(i)}">
                    <img class="card-img-top" src="/assets/window-properties/{{option.key}}.jpg" alt="{{option.value}}" style="height: auto;">
                    <div class="card-body btn btn-primary w-100 stretched-link card-btn" (click)="selectDetailedOperabilityOption(option.value,i)">{{option.value}}</div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <h5 class="md-flex align-items-start">Orientation <fa-icon class="ms-1" style="font-size:medium" [icon]="faQuestion" placement="bottom" ngbTooltip="Select the direction that most of your single-pane windows face. If you aren’t sure which way your windows face, select “Evenly Distributed.”"></fa-icon></h5>
          <div class="mb-4 container-fluid">
            <div class="row btn-group w-100" role="group">
              <!-- Display each option as button -->
              <ng-container *ngFor="let option of orientationList_Det; index as i">
                <div class="col-sm mt-2 d-flex justify-content-center">
                  <input type="radio" class="btn-check" [checked]="checkIfOrientationCardIsClicked(i)" name="simpOrientationGroup" id="orientation{{option}}" autocomplete="off" (click)="selectDetailedOrientationOption(option, i)">
                  <label class="btn" [ngClass]="{'btn-primary':checkIfOrientationCardIsClicked(i) || currentlyClickedOrientationCardIndex == -1, 'btn-outline-primary':!checkIfOrientationCardIsClicked(i) && currentlyClickedOrientationCardIndex != -1}" for="orientation{{option}}">{{option}}</label>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-action" data-bs-dismiss="modal" (click)="saveWindow()">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row justify-content-between">
    <div class="col-sm-3">
      <button type="button" class="btn btn-light" [routerLink]="['../', 4]">&lt; Previous</button>
    </div>
    <div *ngIf="hover && (view == '' || (view == 'Detailed' && windows.length == 0) || (view == 'Simplified' && (currentlyClickedFrameCardIndex == -1 || currentlyClickedGlassCardIndex == -1 || currentlyClickedOperabilityCardIndex == -1 || currentlyClickedOrientationCardIndex == -1)))" class="col-sm text-danger d-flex align-items-center justify-content-end">Enter window data to continue</div>
    <div class="col-sm-2 d-flex justify-content-end" (mouseenter)="hover=true"  (mouseleave)="hover=false">
      <button type="button" class="btn btn-action" [ngClass]="{'disabled':(view == '' || (view == 'Detailed' && windows.length == 0) || (view == 'Simplified' && (currentlyClickedFrameCardIndex == -1 || currentlyClickedGlassCardIndex == -1 || currentlyClickedOperabilityCardIndex == -1 || currentlyClickedOrientationCardIndex == -1)))}" (click)="submitData()" [routerLink]="['/report']">Submit</button>
    </div>
  </div>
</div>
