<div class="card ms-auto me-4 mb-4 mt-4">
  <div class="card-body container">
    <div class="row mt-2 mb-3">
      <div class="col-sm ms-4">
        <h2>Low-E Window Film</h2>
        <div class="mt-4">Low-e film is a thin, plastic sheet that is applied to the inside face of a window. It’s similar to window tint, but is typically better at letting light in and keeping heat out. Low-e coatings have been around for about 50 years, and most new windows sold today include them.</div>
        <div class="mt-2">They are a great alternative to window replacement for homeowners who are looking to lower their energy bills and improve the comfort of their home because they can double the insulating value of a window, getting close to the performance of a double-pane window, but cost much less.</div>
        <div class="mt-2">To help you decide if low-e film is the right window upgrade option for your home, this page will cover the following topics and share some trustworthy resources for more research.</div>
      </div>
      <div class="col-sm me-4">
        <div class="d-flex justify-content-center">
          <img class="img-fluid" style="max-height:200px;" [src]="'/assets/report/home/FilmIcon.png'" alt="Low-E Icon" />
        </div>
        <div class="mt-5">
          <div class="fw-bold" style="border-bottom: 1px solid black; border-top: 1px solid black;">
            Pros
          </div>
          <div>
            <ul>
              <li>Lower Cost</li>
              <li>Short return on investment</li>
              <li>Common DIY</li>
              <li>Can be historic-friendly</li>
            </ul>
          </div>
        </div>
        <div>
          <div class="fw-bold" style="border-bottom: 1px solid black; border-top: 1px solid black;">
            Cons
          </div>
          <div>
            <ul>
              <li>Shorter product lifespan</li>
              <li>Can darken windows</li>
              <li>No impact on sound transmission</li>
              <li>No impact on air leakage</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mb-4 me-4">
  <div class="accordion w-100" id="faq">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown1" aria-expanded="true" aria-controls="dropdown1">
          Images
        </button>
      </h2>
      <div id="dropdown1" class="accordion-collapse collapse show" data-bs-parent="#faq">
        <div class="accordion-body">
          <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/assets/info/film/rolledFilm.png" class="img-fluid d-block w-100" alt="Rolled Film Sheet">
              </div>
              <div class="carousel-item">
                <img src="/assets/info/film/filmAdhesive.png" class="d-block w-100" alt="Film Adhesive">
              </div>
              <div class="carousel-item">
                <img src="/assets/info/film/removeFilmBubbles.png" class="d-block w-100" alt="Removing Bubbles">
              </div>
              <div class="carousel-item">
                <img src="/assets/info/film/reduceFilmGlare.png" class="d-block w-100" alt="Reduction in Glare">
              </div>
              <div class="carousel-item">
                <img src="/assets/info/film/filmBeforeAfter.png" class="d-block w-100" alt="Before and After">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown2" aria-expanded="false" aria-controls="dropdown2">
          How does low-e film work?
        </button>
      </h2>
      <div id="dropdown2" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          Stuff
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown3" aria-expanded="false" aria-controls="dropdown3">
          Selection and Installation
        </button>
      </h2>
      <div id="dropdown3" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          <div class="col-md-6 embed-responsive embed-responsive-4by3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ma-iuHt-h2M?si=tVrUAasU1JQzf9VZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          <div class="mt-2">
            Low-e film installation typically only takes a few minutes for each window, and can be done either by yourself or a professional. Either way, there are a few recommended first steps that will help ensure you are happy with the final result for years to come.
          </div>
          <ol class="mt-2">
            <li>Double check whether or not your single-pane windows already have window film applied. Inspect your windows carefully for bubbles, peeling edges, or discoloration. If they already have film on them, it will need to be removed by either you or a professional before low-e film can be applied.</li>
            <li>Know what to look for. Read the window properties guide above, and understand which factors are most important to you.</li>
            <li>Find a low-e film that meets your needs. Search online for low-e window film manufacturers, or refer to our list below. Whether you find a product online, from this guide, or based on a recommendation, always look for the <a class="link-primary" href="https://nfrc.org/windows-doors-skylights/windows-films/" target="_blank">NFRC Energy Performance Label</a>. The National Fenestration Rating Council (NFRC) provides independent testing for window film energy efficiency, so their label means you can trust that the film you install will perform as well as promised.</li>
            <li>Once you’ve found a product or two that you like, reach out to the manufacturer for more information, including pricing. If you’re thinking about hiring a professional, ask the manufacturer to recommend a local installer who has experience with their products. Bad window film installation can cause unwanted bubbles and peeling, so you want to make sure anyone you hire has the right experience and knowledge to do the job right.</li>
            <li>If you’re planning on installing low-e film yourself, check out this <a href="https://www.lowes.com/n/how-to/install-window-film" target="_blank">step-by-step guide</a> from Lowe’s.</li>
          </ol>
          <div class="mt-4">
            <div class="fw-bold">Some Low-E Film manufacturers</div>
            <ul>
              <li>3M (<a href="https://www.3m.com/3M/en_US/p/d/b5005059014/" target="_blank">3M All Season Window Film</a>)</li>
              <li>Solar Gard (<a href="https://www.solargard.com/product/ecolux/" target="_blank">Ecolux 70 Low-E</a>)</li>
              <li>Llumar (<a href="https://llumar.com/na/en/architectural/residential-window-film/solar/low-e/" target="_blank">Vista Low-e Window Film</a>)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown4" aria-expanded="false" aria-controls="dropdown4">
          Financial Tradeoffs
        </button>
      </h2>
      <div id="dropdown4" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          <div>
            <span class="fw-bold">Upfront Cost:</span>
            Low-e film is one of the most cost-effective upgrade options for single-pane windows in Tucson. It typically costs $10 to $30 per square foot of window, depending on the product you choose, whether you are installing it yourself, and how complicated the installation is, which is much lower than both replacement windows and storm windows. Unfortunately, there are currently no tax or utility rebates available for installing low-e film.
          </div>
          <div class="mt-2">
            <span class="fw-bold">Energy Savings:</span>
            Despite the lower up front cost, low-e window film can still save you around 10% on your yearly heating and cooling costs, which is around 5 times more than window tints.$^4$ This is because low-e film increases the insulating value of your windows in addition to lowering the heat gain from solar radiation. Those savings add up quickly, and you can expect your investment to pay off within 2-4 years if your current windows don’t have any film, or 4-6 years if you replace your old window tinting with higher-performing low-e film.
          </div>
          <div class="mt-2">
            <span class="fw-bold">Product Lifespan:</span>
            Many low-e film warranties last around 15 years, but quality installation and good maintenance can help it stay functional well past that, and the savings will continue to add up over time.
          </div>
          <div class="mt-2">
            Your personalized <a [routerLink]="['/report/finance']">home window upgrade report</a> estimates how much low-e film could save you on energy bills based on your specific home information.
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown5" aria-expanded="false" aria-controls="dropdown5">
          Environmental Impact
        </button>
      </h2>
      <div id="dropdown5" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          <div>
            <span class="fw-bold">Measuring Impact:</span>
            The Window Calculator analysis considers two aspects of a window upgrade option’s environmental impact: its initial carbon impact and its operational carbon impact. These are measured in kilograms of carbon dioxide equivalent (kg CO2e). A higher number indicates that a product has contributed more to global warming through manufacturing, transportation, installation, energy use, or disposal.
          </div>
          <div class="mt-2">
            <span class="fw-bold">Comparing Options:</span>
            Of the three window upgrade options, low-e film has the lowest initial carbon footprint because its manufacturing process uses much less energy. Although it doesn’t improve window energy performance as much as low-e storm windows or replacement ENERGY STAR windows, it still saves a lot of energy every year, and creates a positive environmental impact over the product lifespan.
          </div>
          <div class="mt-2">
            <span class="fw-bold">Next Steps:</span>
            Check out the Environmental Impact section of your personalized home window upgrade report to compare the benefits of each window upgrade option.
          </div>
          <div class="mt-2">
            If you’re really interested in improving the environmental impact of your home, a <a href="https://www.energy.gov/energysaver/home-energy-assessments" target="_blank">home energy assessment</a> can help you prioritize the changes that can have the biggest impact.
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown6" aria-expanded="false" aria-controls="dropdown6">
          Sound Blocking
        </button>
      </h2>
      <div id="dropdown6" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          <div>
            Unfortunately, adding low-e window film doesn’t do much to improve the sound insulation of your windows. If your windows leak air where they meet the wall, however, <a href="https://www.energy.gov/energysaver/do-it-yourself-savings-project-using-caulk-seal-air-leaks" target="_blank">resealing your windows</a> is an inexpensive way to improve your sound insulation and save energy.
          </div>
          <div class="mt-2">
            If dramatically improving sound insulation is important to you, consider checking out the <a [routerLink]="['/report/sound']">Sound Blocking</a> page of your personalized home window upgrade report to weigh the benefits of your other window upgrade options.
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown7" aria-expanded="false" aria-controls="dropdown7">
          Thermal Comfort
        </button>
      </h2>
      <div id="dropdown7" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          <div>
            <span class="fw-bold">Windows and Comfort:</span>
            Your HVAC systems work hard to keep the air temperature comfortable when windows let heat into and out of your home, but windows affect how comfortable your home feels in three other ways, too.
          </div>
          <div class="mt-2">
            <span class="fw-bold">Sunlight:</span>
            Sunlight contributes to both comfort and discomfort, depending on the season. During the winter, sitting in the sun can feel quite pleasant, even if the air temperature is a bit cooler than you would prefer. During the summer, however, you might want to avoid that sunny window seat.
          </div>
          <div class="mt-2">
            <span class="fw-bold">Glass Temperature:</span>
            Poorly-insulated windows can get quite hot in the summer, reaching 120 °F or more. Sitting next to poorly-insulated windows can feel like sitting next to a sun-baked brick wall in the summer, making you sweat even if the air temperature is comfortable.
          </div>
          <div class="mt-2">
            <span class="fw-bold">Air Movement:</span>
            The difference in temperature between your windows and the indoor air can cause drafts if it is extreme, which make you feel colder in the winter. Air leakage through windows also lets in hot air in the summer, and cold air in the winter.
          </div>
          <div class="mt-2">
            <span class="fw-bold">Temperature Control:</span>
            Applying low-e film to your single-pane windows can make your home more comfortable by controlling the temperature of the glass during extreme weather. The  low-e coating lets light in but reflects heat, helping your windows feel cooler in the summer and warmer in the winter. Low-e film provides more temperature control than typical window tinting, which often prevents heat from passing through by absorbing it. This makes your windows very hot in the summer.          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown8" aria-expanded="false" aria-controls="dropdown8">
          Historic Preservation
        </button>
      </h2>
      <div id="dropdown8" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          <div>
            Depending on the product, low-e film might make your windows look slightly darker.
          </div>
          <div class="mt-2">
            <span class="fw-bold">Historic Properties:</span>
            If your home is listed on the National Register of Historic Places, this minor change shouldn’t affect your eligibility for the State Historic Property Tax Program, especially if you work with a manufacturer or installer to select a low-e film with a higher visible transmittance. Consider contacting the <a href="mailto:spt@azstateparks.gov" target="_blank">Arizona State Historic Preservation Office</a> before making any changes, especially for windows that are visible from the street.
          </div>
          <div class="mt-2">
            <span class="fw-bold">Historic Preservation Zones:</span>
            If you live in one of Tucson’s Historic Preservation Zones, this change in appearance might require a review process. Minor changes in glass color aren’t explicitly restricted in any neighborhood guidelines, so a low-e film upgrade has a chance of approval, especially if you can share examples from a manufacturer or installer that show how small the effect is. If your local advisory board doesn’t approve, you could ask about the possibility of only upgrading windows that aren’t visible from the street.
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown9" aria-expanded="false" aria-controls="dropdown9">
          Learn More
        </button>
      </h2>
      <div id="dropdown9" class="accordion-collapse collapse" data-bs-parent="#faq">
        <div class="accordion-body">
          <a href="https://efficientwindowcoverings.org/" target="_blank">Efficient Window Coverings</a><br/>
          <a class="mt-2" href="https://efficientwindowcoverings.org/sites/default/files/pdf/Window_Films.pdf" target="_blank">Window Retrofit Option - Surface-Applied Window Films</a>
          <div class="mt-2">
            <div class="fw-bold">References:</div>
            <div class="mt-2">Curcija, C. (2017). Low-e Applied Film Window Retrofit for Insulation and Solar Control. Lawrence Berkeley National Laboratory. <a href="Curcija, C. (2017). Low-e Applied Film Window Retrofit for Insulation and Solar Control. Lawrence Berkeley National Laboratory. https://www.gsa.gov/system/files/GPG_-_Low-e_Solar_Film_Report_-_final_2.28.2017.pdf" target="_blank">https://www.gsa.gov/system/files/GPG_-_Low-e_Solar_Film_Report_-_final_2.28.2017.pdf</a></div>
            <div class="mt-2">Efficient Windows Collaborative. (2023) Low-E Coatings: Save Money and Energy. <a href="https://efficientwindows.org/low-e-coatings-save-money-and-energy/" target="_blank">https://efficientwindows.org/low-e-coatings-save-money-and-energy/</a></div>
            <div class="mt-2">Grimmer, A. (2017). The Secretary of the Interior’s Standards for the Treatment of Historic Properties with Guidelines for Preserving, Rehabilitating, Restoring, and Reconstructing Historic Buildings. U.S. Department of the Interior National Park Service Technical Preservation Services.<a href="https://www.nps.gov/orgs/1739/upload/treatment-guidelines-2017-part1-preservation-rehabilitation.pdf" target="_blank">https://www.nps.gov/orgs/1739/upload/treatment-guidelines-2017-part1-preservation-rehabilitation.pdf</a></div>
            <div class="mt-2">Winkler, L. (2012). Low-Emissivity, Energy-Control, Retrofit Window Film. U.S. Department of Energy National Energy Technology Laboratory.<a href="https://www.osti.gov/servlets/purl/1089147" target="_blank">https://www.osti.gov/servlets/purl/1089147</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
