<div style="max-height:70vh; overflow-y: auto;">
  <h3 class="ms-4 mb-4 d-flex align-items-start">What type of heating system is in your home? <fa-icon class="ms-1" style="font-size: large" [icon]="faQuestion" placement="bottom" ngbTooltip="Select the heating system that best matches the system in your home. Select the high efficiency option if your heat pump has the ENERGY STAR label (7.2 HSPF2 or higher)."></fa-icon></h3>
  <div class="mb-4 container-fluid">
    <div class="row mb-3">
      <!-- Display each option as small card -->
      <ng-container *ngFor="let option of heatingSystemEnum | keyvalue; index as i">
        <div class="col-sm mt-2">
          <div class="mx-auto card text-center h-100" style="width: 10rem;" [ngClass]="{'highlight':checkIfHeatingCardIsClicked(i)}">
            <img class="card-img-top" src="/assets/heating-systems/{{option.key}}.jpg" alt="{{option.value}}" style="height: auto;">
            <div class="card-body btn btn-primary w-100 stretched-link card-btn" (click)="selectHeatingOption(option.value,i)">{{option.value}}</div>

          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <h3 class="ms-4 mb-4 d-flex align-items-start">What type of cooling system is in your home? <fa-icon class="ms-1" style="font-size: large;" [icon]="faQuestion" placement="bottom" ngbTooltip="Select the cooling system that best matches the system in your home. Select the high efficiency option if your heat pump has the ENERGY STAR label (15.2 SEER or higher)."></fa-icon></h3>
  <div class="mb-4 container-fluid">
    <div class="row justify-content-around">
      <!-- Display each option as small card -->
      <ng-container *ngFor="let option of coolingSystemEnum | keyvalue; index as i">
        <div class="col-sm mt-3">
          <div class="mx-auto card text-center h-100" style="width: 10rem;" [ngClass]="{'highlight':checkIfCoolingCardIsClicked(i)}">
            <img class="card-img-top" src="/assets/cooling-systems/{{option.key}}.jpg" alt="{{option.value}}" style="height: auto;">
            <div class="card-body btn btn-primary w-100 stretched-link card-btn" (click)="selectCoolingOption(option.value,i)">{{option.value}}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row justify-content-between">
    <div class="col-sm-3">
      <button type="button" class="btn btn-light" [routerLink]="['../', 2]">&lt; Previous</button>
    </div>
    <div class="col-sm-2 d-flex justify-content-end">
      <button type="button" class="btn btn-action" [routerLink]="['../', 4]">Next &gt;</button>
    </div>
  </div>
</div>

