<div class="mb-2" style="max-height:70vh;">
  <h3 class="ms-4 mb-4 d-flex align-items-start">How tall is your home? <fa-icon class="ms-1" style="font-size:large" [icon]="faQuestion" placement="bottom" ngbTooltip="Select the home height that best matches your home. Even if you have a basement, only count the number of stories above ground level."></fa-icon></h3>
  <div class="mb-4 container-fluid">
    <div class="row">
      <!-- Display each option as small card -->
      <ng-container *ngFor="let option of homeHeightOptions | keyvalue: originalOrder">
        <div *ngIf="!isNotNumber(option.value)" class="col-sm">
          <div class="mx-auto card text-center" style="width: 10rem;" [ngClass]="{'highlight':checkIfCardIsClicked(option.value)}">
            <img class="card-img-top" src="/assets/home-height/{{option.key}}.jpg" alt="{{option.value}}" style="height: auto;">
            <div class="card-body btn btn-primary w-100 stretched-link card-btn" (click)="selectOption(option.value)">{{homeHeightEnum[option.key]}}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row justify-content-between">
    <div class="col-sm-3">
      <button type="button" class="btn btn-light"[routerLink]="['/home']">&lt; Previous</button>
    </div>
    <div class="col-sm-2 d-flex justify-content-end">
      <button type="button" class="btn btn-action" [routerLink]="['../', 2]">Next &gt;</button>
    </div>
  </div>
</div>

