<div style="max-height:70vh; overflow-y: auto;">
  <h3>How tall is your home? <fa-icon [icon]="faQuestion" placement="bottom" ngbTooltip="Select the home height that best matches your home. Even if you have a basement, only count the number of stories above ground level."></fa-icon></h3>
  <div class="container-fluid">
    <div class="row">
      <!-- Display each option as small card -->
      <ng-container *ngFor="let option of homeHeightEnum | keyvalue">
        <div *ngIf="!isNotNumber(option.value)" class="col-sm">
          <div class="mx-auto card text-center" style="width: 10rem;" [ngClass]="{'highlight':checkIfCardIsClicked(option.value)}">
            <img class="card-img-top" src="/assets/home-height/{{option.key}}.jpg" alt="{{option.value}}" style="height: 5rem;">
            <div class="card-body w-100 option-text">
              <a class="card-text option-text btn stretched-link" (click)="selectOption(option.value)" style="color: white">{{option.value}}</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row justify-content-between">
    <div class="col-sm-3">
      <button type="button" class="btn btn-light" style="color: dodgerblue;" [routerLink]="['../', 0]">&lt; Previous</button>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-secondary" [routerLink]="['../', 2]">Next &gt;</button>
    </div>
  </div>
</div>

