<div class="footer-style w-100">
  <div class="row d-flex justify-content-between pt-2 pb-2">
    <div class="col-sm ms-4 mt-2 mb-2">
    </div>
    <div class="col-sm"></div>
    <div class="col-sm d-flex justify-content-end">
      <div class="d-flex flex-column align-items-end justify-content-center me-3">
        <a class="fs-6 link-body-emphasis text-decoration-none me-4">Calculator Methodology</a>
        <div class="fs-6 me-4">Copyright © 2024, Window Calculator</div>
      </div>
    </div>
  </div>
</div>
