<div class="footer-style w-100">
  <div class="row d-flex justify-content-between pt-2 pb-2">
    <div class="col-sm ms-4 mt-sm-2 mb-2">
    </div>
    <div class="col-sm"></div>
    <div class="col-sm d-flex justify-content-end">
      <div class="d-flex flex-column align-items-end justify-content-center me-2 me-sm-3">
        <a class="fs-6 link-body-emphasis text-decoration-none me-sm-4" target="_blank" href="https://alyssamfink.notion.site/window-calculator-v1?pvs=4">Calculator Methodology</a>
        <div class="fs-6 me-sm-4">Copyright © 2024, Window Calculator</div>
        <div class="fs-6 me-sm-4">Developed by <a class="link-body-emphasis text-decoration-none" target="_blank" href="https://www.linkedin.com/in/alyssa-fink-391ba0224/">Alyssa Fink</a> and <a href="https://alpshadow.com" target="_blank" class="link-body-emphasis text-decoration-none">Amy Paul</a></div>
      </div>
    </div>
  </div>
</div>
