<div style="max-height:70vh; overflow-y: auto;">
  <h3 class="ms-4 mb-4 d-flex align-items-start">What are your typical thermostat settings? <fa-icon class="ms-1" style="font-size:large;" [icon]="faQuestion" placement="bottom" ngbTooltip="Use the up and down arrows to adjust both the typical heating setting and the typical cooling setting in your home."></fa-icon></h3>
  <div class="mb-4 container-fluid w-50"> <!--Has background graphic-->
    <div class="row row-cols-2">
      <div class="col-sm">
        <!-- Hot side -->
        <div class="row align-items-center">
          <div class="col-sm">
            <div class="row justify-content-center">
              <button type="button" class="w-50 btn btn-danger mb-1" (click)="incHeatingSetPoint()"> &#x25B2;</button>
            </div>
            <div class="row justify-content-center">
              <button type="button" class="w-50 btn btn-primary mb-1" (click)="decHeatingSetPoint()">&#x25BC;</button>
            </div>
          </div>
          <div class="col-sm">
            <div class="row justify-content-center">Heat to:</div>
            <div class="row justify-content-center fw-bold text-danger" style="font-size: 36pt;" >{{heatingSetPoint}}</div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <!-- Cold side -->
        <div class="row align-items-center">
          <div class="col-sm">
            <div class="row justify-content-center">Cool to:</div>
            <div class="row justify-content-center text-primary fw-bold" style="font-size: 36pt;">{{coolingSetPoint}}</div>
          </div>
          <div class="col-sm">
            <div class="row justify-content-center">
              <button type="button" class="w-50 btn btn-danger mb-1" (click)="incCoolingSetPoint()"> &#x25B2;</button>
            </div>
            <div class="row justify-content-center">
              <button type="button" class="w-50 btn btn-primary mb-1" (click)="decCoolingSetPoint()">&#x25BC;</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row justify-content-between">
    <div class="col-sm-3">
      <button type="button" class="btn btn-light" [routerLink]="['../', 3]">&lt; Previous</button>
    </div>
    <div class="col-sm-2 d-flex justify-content-end">
      <button type="button" class="btn btn-action" [routerLink]="['../', 5]">Next &gt;</button>
    </div>
  </div>
</div>
